*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
    background-size: cover;
    width: 100%;
    margin: 50px 5px;
}

header h1{
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

.card{
    text-align: left;
    padding: 15px 5px;
}

.card h2{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.card-body{
    padding: 20px 5px;
}

.green{
    background-color: mediumspringgreen;
}

.blue{
    font-family: Helvetica;
    font-weight: bold;
    color:blue
}

.pink{
    background-color: lightcoral;
}

.lightblue{
background-color: skyblue;
}